<div class="container">
    <form method="post" action="/tipoproduto">
        {{!-- Grupo ID --}}
        <div class="my-2">
            <label for="id-input-id" class="form-label">ID</label>
            <input id="id-input-id" type="text" class="form-control" value="#" disabled>
        </div>
        {{!-- Grupo Descrição --}}
        <div class="my-2">
            <label for="id-input-descricao" class="form-label">Descrição</label>
            <input name="descricao" id="id-input-descricao" type="text" class="form-control"
                placeholder="Digite a descrição para o TipoProduto. Ex: Pizza">
        </div>
        {{!-- Grupo dos botões --}}
        <div class="my-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/tipoproduto" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>