<div class="container">
    <a href="/produto" class="btn btn-primary">Produto</a>
    <a href="/tipoproduto" class="btn btn-primary">TipoProduto</a>
    <a href="/mesa" class="btn btn-primary">Mesa</a>
</div>