<div class="container">
    <form method="post" action="/produto" enctype="multipart/form-data">
        {{!-- Grupo ID --}}
        <div class="my-2">
            <label for="id-input-id" class="form-label">ID</label>
            <input id="id-input-id" type="text" class="form-control" value="#" disabled>
        </div>
        {{!-- Grupo Número --}}
        <div class="my-2">
            <label for="id-input-numero" class="form-label">Número</label>
            <input name="numero" id="id-input-numero" type="number" class="form-control"
                placeholder="Digite um número para o produto. Ex: 1">
        </div>
        {{!-- Grupo Nome --}}
        <div class="my-2">
            <label for="id-input-nome" class="form-label">Nome</label>
            <input name="nome" id="id-input-nome" type="text" class="form-control"
                placeholder="Digite o nome para o produto. Ex: Pepperoni">
        </div>
        {{!-- Grupo Preço --}}
        <div class="my-2">
            <label for="id-input-preco" class="form-label">Preço</label>
            <input name="preco" id="id-input-preco" type="number" class="form-control"
                placeholder="Digite o preço para o produto. Ex: 10,50" step=".01">
        </div>
        {{!-- Grupo Tipo --}}
        <div class="my-2">
            <label for="id-input-tipo" class="form-label">Tipo</label>
            <select name="TipoProduto_id" id="" class="form-select">
                {{#each tipoProdutos}}
                <option value="{{this.id}}">{{this.descricao}}</option>
                {{/each}}
            </select>
        </div>
        {{!-- Grupo Ingredientes --}}
        <div class="my-2">
            <label for="id-input-ingredientes" class="form-label">Ingredientes</label>
            <input name="ingredientes" id="id-input-ingredientes" type="text" class="form-control"
                placeholder="Digite os ingredientes para o produto. Ex: Massa de pizza...">
        </div>
        {{!-- Grupo Imagem --}}
        <div class="my-2">
            <label for="id-input-imagem" class="form-label">Imagem</label>
            <input name="imagem" id="id-input-imagem" type="file" class="form-control" accept="image/*">
        </div>
        {{!-- Grupo dos botões --}}
        <div class="my-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/produto" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>